{% extends "custom/base_generic.html" %}
{% block title %}
<title>Ship Loading</title>
{% endblock %}
{% load static %}
{% block activeshiploading %} active{% endblock %}
{% block content %}
    {% autoescape off %}
<p class="ws1"></p>
<p class="ws1"></p>
<div class="row">
    <div class="col-12"><h3>Ship Loading Duration</h3></div>
</div>
    {{ loading_per_shipment }}
<hr>
<p class="ws1"></p>
<p class="ws1"></p>
<div class="row">
    <div class="col-12"><h3>Ship Loading Rate</h3></div>
</div>
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#daily" class="nav-link active" data-toggle="tab">Daily Estimate</a>
        </li>
        <li class="nav-item">
            <a href="#smooth" class="nav-link" data-toggle="tab">7-Day Average</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="daily">
            {{ loading_rate }}
        </div>
        <div class="tab-pane fade active" id="smooth">
            {{ loading_rate_smooth }}
        </div>
    </div>
</div>
    {% endautoescape %}
{% endblock %}
