db_name='database_name'
db_user='data_management'
db_password='postgres_user_password'
db_host='databse_host'
db_port='5432'
DJANGO_SUPERUSER_USERNAME='username'
DJANGO_SUPERUSER_PASSWORD='password'
DJANGO_SUPERUSER_EMAIL='sample.email@domain.com'
