<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}{% endblock %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit-no" />
        {% load static %}
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'custom/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'custom/css/jquery-ui.css' %}" />
        <link rel="stylesheet" href="{% static 'custom/css/style.css' %}" />
        {% block css %}{% endblock %}
        <script src="{% static 'custom/js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'custom/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'custom/js/plotly-latest.min.js' %}"></script>
        <script>
        $( function() {
          $( ".datepicker" ).datepicker();
        } );
        </script>
        {% block script %}{% endblock %}
    </head>
    <body>
        <p class="ws1"></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <img class="center" src="{% static 'custom/img/TMC.svg' %}" alt="Taganito Mining Corporation" height="100" />
                </div>
            </div>
            <nav class="row top-nav bg-light navbar-light">
                <div class="col-lg-12">
                    <ul class="nav nav-fill">
                        <li class="nav-item"><a href="/">Home</a></li>
                        <li class="nav-item"><a href="/sampling/">Assay Variances</a></li>
                        <li class="nav-item"><a href="/custom/export">Data Export</a></li>
                        <li class="nav-item"><a href="/admin/">Data Management</a></li>
                        <li class="nav-item"><a href="/map/road">Road Network</a></li>
                    </ul>
                </div>
            </nav>
            {% block content %}{% endblock %}
        </div>
        <p class="ws1"></p>
    </body>
</html>
