{% extends "custom/base_generic.html" %}
{% block title %}
<title>Data Export</title>
{% endblock %}
{% load static %}
{% block content %}
<p class="ws1"></p>
<div class="row">
    <h3>Shipment</h3>
</div>
<div class="row">
    <div class="list-group">
        <a href="{% url 'shipment:data-export-lct-trips' %}" class="list-group-item-action">LCT Trips</a>
        <a href="{% url 'shipment:data-export-laydays' %}" class="list-group-item-action">Laydays Detail</a>
      </div>
</div>
<p class="ws1"></p>
<div class="row">
    <h3>Cluster</h3>
</div>
<div class="row">
    <div class="list-group">
        <a href="{% url 'location:data-export-cluster' %}" target="_blank" class="list-group-item-action">Cluster CSV</a>
        <a href="{% url 'location:data-export-cluster-str' %}" target="_blank" class="list-group-item-action">Cluster String File</a>
        <a href="{% url 'inventory:data-export-clustered-block' %}" target="_blank" class="list-group-item-action">Clustered Blocks CSV</a>
    </div>
</div>
{% endblock %}
