{% extends 'admin/change_form.html' %}
{% load static %}

{% block admin_change_form_document_ready %}
{{ block.super }}
<script>
    document.addEventListener('formset:added', (event) => {
        event.target.querySelector(".field-lot").querySelector("input").value =  event.target.parentNode.childElementCount - 2;
        event.target.querySelector(".field-wmt").querySelector("input").value = document.querySelector("#shipmentdischargelotassay_set-0").querySelector(".field-wmt").querySelector("input").value;
        event.target.querySelector(".field-wmt").querySelector("input").focus();
    });
</script>
{% endblock %}
