
module dbus-daemon 1.0;

require {
    class dir read;
    class file { execute execute_no_trans getattr open };
    type data_home_t;
    type gkeyringd_exec_t;
    type system_dbusd_t;
}

#============= system_dbusd_t ==============
allow system_dbusd_t data_home_t:dir read;
allow system_dbusd_t data_home_t:file { getattr open };
allow system_dbusd_t gkeyringd_exec_t:file { execute execute_no_trans open };
