
module gunicorn 1.0;

require {
	type init_t;
	type user_home_t;
	type abrt_t;
	type init_tmp_t;
	type postgresql_port_t;
	class file { create execute execute_no_trans ioctl map open read rename };
	class lnk_file read;
	class sock_file { create setattr unlink };
	class unix_stream_socket connectto;
	class tcp_socket name_connect;
}

#============= init_t ==============

#!!!! This avc is allowed in the current policy
allow init_t abrt_t:unix_stream_socket connectto;

#!!!! This avc is allowed in the current policy
allow init_t init_tmp_t:file execute;

#!!!! This avc is allowed in the current policy
allow init_t postgresql_port_t:tcp_socket name_connect;

#!!!! This avc is allowed in the current policy
#!!!! This av rule may have been overridden by an extended permission av rule
allow init_t user_home_t:file { create execute execute_no_trans ioctl map open read rename };

#!!!! This avc is allowed in the current policy
allow init_t user_home_t:lnk_file read;

#!!!! This avc is allowed in the current policy
allow init_t user_home_t:sock_file { create setattr unlink };
