
module rsession 1.0;

require {
	type tmp_t;
	type devpts_t;
	type user_home_t;
	type ptmx_t;
	type init_t;
	class dir { create rename rmdir setattr };
	class file { append link setattr write };
	class sock_file { create setattr };
	class chr_file { ioctl open read write };
	class process execmem;
}

#============= init_t ==============

#!!!! This avc is allowed in the current policy
allow init_t devpts_t:chr_file open;

#!!!! This avc is allowed in the current policy
#!!!! This av rule may have been overridden by an extended permission av rule
allow init_t ptmx_t:chr_file { ioctl open read write };

#!!!! This avc is allowed in the current policy
allow init_t self:process execmem;

#!!!! This avc is allowed in the current policy
allow init_t tmp_t:sock_file { create setattr };

#!!!! This avc is allowed in the current policy
allow init_t user_home_t:dir { create rename rmdir setattr };

#!!!! This avc is allowed in the current policy
allow init_t user_home_t:file { append link setattr write };
