
module rsession 1.0;

require {
    class chr_file { ioctl open read write };
    class dir { add_name create remove_name rename reparent rmdir setattr };
    class file { append create execute link lock map open read rename setattr unlink write };
    class lnk_file read;
    class process execmem;
    class sock_file { create setattr };
    class tcp_socket name_connect;
    type devpts_t;
    type dosfs_t;
    type init_t;
    type init_tmp_t;
    type initrc_tmp_t;
    type ntop_port_t;
    type postgresql_port_t;
    type ptmx_t;
    type tmp_t;
    type unlabeled_t;
    type user_home_t;
    type user_tmp_t;
}

#============= init_t ==============
allow init_t devpts_t:chr_file open;
allow init_t dosfs_t:file { open read };
allow init_t init_tmp_t:file map;
allow init_t initrc_tmp_t:dir rmdir;
allow init_t initrc_tmp_t:file { create unlink write };
allow init_t ntop_port_t:tcp_socket name_connect;
allow init_t postgresql_port_t:tcp_socket name_connect;
allow init_t ptmx_t:chr_file { ioctl open read write };
allow init_t self:process execmem;
allow init_t tmp_t:sock_file { create setattr };
allow init_t unlabeled_t:dir { add_name remove_name rename rmdir };
allow init_t unlabeled_t:file { create execute link map rename setattr unlink write };
allow init_t user_home_t:dir { create rename reparent rmdir setattr };
allow init_t user_home_t:file { append create link lock open read rename setattr write };
allow init_t user_home_t:lnk_file read;
allow init_t user_tmp_t:file { create map write };
