
module rstudiojava 1.0;

require {
	class sock_file rename;
	type init_t;
	type tmp_t;
}

#============= init_t ==============
allow init_t tmp_t:sock_file rename;
