{% extends "custom/base_generic.html" %}
{% block title %}
<title>Taganito Mine General Location</title>
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'map/css/leaflet.css' %}" />
{% endblock %}
{% block script %}
<script src="{% static 'map/js/leaflet.js' %}"></script>
{% endblock %}
{% block content %}
<div id="map" style="height: 600px;"></div>
<script>
        var mymap = L.map('map', {
            attributionControl: false,
            center: [9.5235, 125.8313],
            zoom: 14
        });
        L.tileLayer.wms('http://datamanagement.tmc.nickelasia.com:8010/ogc/map?',{
            layers: 'Taganito Mine General Location',
            maxZoom: 25,
            detectRetina: true
        }).addTo(mymap);
        L.control.scale({imperial: false}).addTo(mymap);
</script>
{% endblock %}
