{% extends "map/index.html" %}
{% block title %}
<title>Road Gradients in Taganito Mine</title>
{% endblock %}
{% block content %}
<div id="map" style="height: 600px;"></div>
<script>
        var mymap = L.map('map', {
            attributionControl: false,
            center: [9.5235, 125.8313],
            zoom: 14
        });
        L.tileLayer.wms('http://192.169.101.192:8010/ogc/road?',{
            layers: 'Gradients of Road Network',
            maxZoom: 25,
            detectRetina: true
        }).addTo(mymap);
        L.control.scale({imperial: false}).addTo(mymap);

        var legend = L.control({position: 'topright', detectRetina: true});
        legend.onAdd = function (map) {
            var div = L.DomUtil.create('div', 'info legend');
            div.innerHTML += "<img src=http://192.169.101.192:8010/ogc/road?&SERVICE=WMS&REQUEST=GetLegendGraphic&FORMAT=image/jpeg&LAYER=Road%20Gradient>";
            return div;
        }
        legend.addTo(mymap);
</script>
{% endblock %}
